
.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}
header {
    background-color: greenyellow;
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    position: fixed;
}
.page {
    margin-bottom: 25px;
}
.block {
    background-color: yellow;
    border: 5px solid rgb(126, 117, 99);
    margin: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 25px;

}
.block__item {
    font-size: 40px;
    font-weight: 700;
    background-color: aqua;
    border: 5px solid #2586;
    padding: 10px;
    text-align: center;
    
}
.block__item:nth-child(2) {
    align-self: self-start;
}
.block__item:nth-child(1) {
    flex-grow: 1;
} 
.block__item:nth-child(3) {
    
    flex: 1 1 auto;
}
.content {
    background-color: grey;
    padding: 25px 0px;
}
.contant__my-family {
    
    display: flex;
    margin: 0 px -15px;
}
.contant__family-card {
    flex: 0 1 33.333%;
    padding: 0px 15px;
    flex-direction: column;
    min-height: 100%;
    align-items: flex-start;
}
.contant__card {
    border: 2px solid blue;
    align-items: flex-start;
    
}

.card__image {
    margin-bottom: 20px;
}
.card__image img {
    max-width: 100%;
}
.card__text {
    margin-bottom: 25px;
    flex-grow: 1;
    font-size: 20px;
}
.button {
    background-color: rgba(231, 137, 13, 0.521);
    border-radius: 15px;
    width: 45px;
    padding: 5px;
}
footer {
    background-color: orangered;
    height: 50px;
    font-size: 30px;
    font-weight: 300;
}
